body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexiable-container{
    display: flex;
    padding: 10%;
} 
.half-width{
    width: 50%;
    padding-left: 10px;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;
    color: white;
}
.images{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    width: ;
}
.border{
        margin-right: 10%;
        border-radius: 20px;
    }
.goals{
    border-radius: 20px;
}
.center{
    text-align: center
}
.mental-health{
    background-image: url(images/shapes/shape-2.png);
    background-repeat: no-repeat;
}
.background-color{
    color: rgb(49, 92, 92);
}