body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexiable-container{
   
}
section{
    padding: 2%;
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-color: linear-gradient(orange);
}